version: "3.8"

services:
  db:
    image: postgres:15
    container_name: postgres_db
    restart: always
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASS}
      POSTGRES_DB: ${DB_NAME}
      TZ: America/Monterrey
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    restart: always
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
      TZ: America/Monterrey
    ports:
      - "5672:5672"
      - "15672:15672"
    healthcheck:
      test: ["CMD-SHELL", "rabbitmq-diagnostics -q ping || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 30s

  fastapi:
    build: ./api-server
    container_name: fastapi_app
    command: uvicorn main:app --host 0.0.0.0 --port 8000
    working_dir: /code/api-server
    volumes:
      - .:/code
      - ./storage:/storage
    env_file:
      - .env
    ports:
      - "8000:8000"
    depends_on:
      db:
        condition: service_started
      rabbitmq:
        condition: service_healthy
    environment:
      - TZ=America/Monterrey
      - PYTHONPATH=/code
      - DB_HOST=postgres_db
      - DB_PORT=5432

  celery:
    build:
      context: .
      dockerfile: worker/Dockerfile
    container_name: celery_uniones
    working_dir: /app/worker
    command: celery -A worker.celery_app worker -Q uniones_audio,uniones_video --loglevel=info
    volumes:
      - .:/app
      - ./storage:/storage
    env_file:
      - .env
    environment:
      - TZ=America/Monterrey
      - PYTHONPATH=/app
      - DB_HOST=postgres_db
      - DB_PORT=5432
    restart: always
    depends_on:
      rabbitmq:
        condition: service_healthy
      db:
        condition: service_started
    user: "1000:1000"

  celery_video2:
    build:
      context: .
      dockerfile: worker/Dockerfile
    container_name: celery_video2
    working_dir: /app/worker
    command: celery -A worker.celery_app worker -Q videos2 --loglevel=info --hostname=worker_videos2@%h
    volumes:
      - .:/app
      - ./storage:/storage
    env_file:
      - .env
    environment:
      - TZ=America/Monterrey
      - PYTHONPATH=/app
      - DB_HOST=postgres_db
      - DB_PORT=5432
    restart: always
    depends_on:
      rabbitmq:
        condition: service_healthy
      db:
        condition: service_started
    user: "1000:1000"

  celery_manifest:
    build:
      context: .
      dockerfile: worker/Dockerfile
    container_name: celery_manifest
    working_dir: /app/worker
    command: celery -A worker.celery_app worker -Q manifest --loglevel=info --hostname=worker_manifest@%h
    volumes:
      - .:/app
      - ./storage:/storage
    env_file:
      - .env
    environment:
      - TZ=America/Monterrey
      - PYTHONPATH=/app
      - DB_HOST=postgres_db
      - DB_PORT=5432
    restart: always
    depends_on:
      rabbitmq:
        condition: service_healthy
      db:
        condition: service_started
    user: "1000:1000"

volumes:
  postgres_data:
